.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.navigation a {
    color: white;
}

li {
    padding-right: 25px;
}

.navigation__item__selected {
    color: yellow;
     }
     
     .main {
        background-image: url(../images/dest/photo.jpg) ;
        min-height: 100vh;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 380px 0 160px ;
    
    }